# Environmental Variables can be stored here
PUBLIC_MULTIHUB_URL=https://multhub.top
PUBLIC_WHATSAPP_URL=https://wa.me/8615863789235
PUBLIC_FACEBOOK_GROUP_URL=https://www.facebook.com/share/g/18LzkjLLwE/
SITE_URL=
# Be sure to uncomment any line you populate
# Everything is optional, but some features won't work without external API access

# Kill switch for the public/hosted instance
# VITE_DISABLE_EVERYTHING='false'

# API Keys for external services (backend)
GOOGLE_CLOUD_API_KEY=''
TORRENT_IP_API_KEY=''
SECURITY_TRAILS_API_KEY=''
URL_SCAN_API_KEY=''
TRANCO_USERNAME=''
TRANCO_API_KEY=''
CLOUDMERSIVE_API_KEY=''
SHODAN_API_KEY=''
GITHUB_TOKEN=''
WHO_API_KEY=''

# Configuration settings
# CHROME_PATH='/usr/bin/chromium'
# PORT='3000'
# DISABLE_GUI='false'
# PUBLIC_API_TIMEOUT_LIMIT='25000'
# API_CORS_ORIGIN='*'
# API_ENABLE_RATE_LIMIT='true'
# API_DISABLED_CHECKS=''
# API_ENABLED_CHECKS=''
# API_BLOCKED_HOSTS=''
# REACT_APP_API_ENDPOINT='/api'
# ENABLE_ANALYTICS='false'
# BOSS_SERVER='false'
# TRUST_PROXY='1'
